---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import Heading from '../components/Heading.astro';
import Card from '../components/Card.astro';
const pageTitle = "Blogs";
const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title={pageTitle} description="blog">
  <Section><Heading title="Posts" /></Section>
	<Section>
		{
			allPosts.map((post: any) => (
				<div class="mb-4 basis-1 last:mb-0">
					<Card post={post} />
				</div>
			))
		}
	</Section>
</BaseLayout>

