---
import Section from './Section.astro';
import Social from './Social.astro';


const site = Astro.site;
---

<Section>
	<br />
	<p class="pb-2 pt-6 text-4xl font-bold">欢 迎 来 到 Sunqp 的 BLOG.</p>
	<div class="text-sm">
		<p class="py-2">
			我是一个热爱技术的人，喜欢折腾，喜欢折腾，喜欢折腾。
		</p>
		
	</div>


</Section>
