---
import Section from './Section.astro';
import Card from './Card.astro';


const { posts } = Astro.props;
---

<Section>
	<div class="flex justify-between pb-4">
		<p class="text-xl font-bold">Latest Posts</p>
		<a href="/blog" class="underline hover:text-orange-600">all posts →</a>
	</div>
	<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
		{
			posts.slice(0, 6).map((post: any) => (
				<div>
					<Card post={post} />
				</div>
			))
		}
	</div>
</Section>
